<% if flash[:error] %>
<div class="row">
  <div class="alert alert-error span5">
    <a class="close" data-dismiss="alert">&times;</a>
    <%= flash[:error] %>
  </div>
</div>
<% end %>
<form action="<%= url('download') %>" method="post" class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Download Code</label>
    <div class="controls">
      <input type="text" name="code" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Email Address</label>
    <div class="controls">
      <input type="text" name="email" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        I would like to receive email updates from Wintersfear.
        <input type="checkbox" name="contact" />
      </label>
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn">Submit</button>
  </div>
</form>