<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Wintersfear - Thought and Memory | Altercation - Today We Fight | Free Download</title>
<link href="<%= url('css/download.css') %>" rel="stylesheet" type="text/css">
<% yield_content :styles %>
</head>

<body>
<div class="top">
  <p><span class="white">WINTERSFEAR</span> / <span class="white">ALTERCATION</span> Free Album Download</p>
</div>
<div class="wrapper">
	<%= yield %>
</div>
<script type="text/javascript" src="<%= url('js/jquery-1.7.1.min.js') %>"></script>
<% yield_content :scripts %>
</body>
</html>