<h2>Your code is authorized for the following downloads:</h2>
<div class="download-container well">
  <div class="download-heading row">
    <div class="span5">Title</div>
    <div class="span2">Format</div>
    <div class="span2">Download</div>
    <div class="span2 center">Downloads Remaining</div>
  </div>
  <% @downloads.each do |download| %>
  <div class="row">
    <div class="span5"><%= download.title %></div>
    <div class="span2">
      <select class="input-small">
        <option><%= download.format %></option>
      </select>
    </div>
    <div class="span2">
      <a class="downLink" href="<%= url("download/#{session[:code]}/#{download.id}") %>">http</a> | <a href="#">torrent</a>
    </div>
    <div class="span2 center">
      <%= download.code_downloads.first(:code => @code).count %>
    </div>
  </div>
  <% end %>
</div>

<% content_for :scripts do %>
<script type="text/javascript">
jQuery(function ($) { 
	$('.downLink').click(function () {
		var $cnt_div = $(this).parent().next();
		var dlcount = parseInt($cnt_div.text());
		dlcount--;
		$cnt_div.text(dlcount);
	});
});
</script>
<% end %>
