<!DOCTYPE html>
<html>
  <head>
    <title>Wintersfear</title>
  </head>
  <body bgcolor="black">
    <a href="http://www.reverbnation.com/wintersfear">Wintersfear</a>
    <footer>
      &copy; 2012 Wintersfear Metal Conservatory
    </footer>
  </body>
</html>

