<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Wintersfear</title>
  <link href="<%= url('css/download.css') %>" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="wrapper">
    
    <img src="<%= url('img/wintersfear-logo.png') %>" width="800" height="489" alt="Wintersfear" class="logo">
    
  <h2 class="intro center">Find Wintersfear on</h2>
  
    <p class="center">
    <a href="http://www.facebook.com/wintersfear"><img src="<%= url('img/facebook.png') %>" width="101" height="31" alt="Facebook" class="social fb"></a>
      <a href="http://www.reverbnation.com/wintersfear"><img src="<%= url('img/reverbnation.png') %>" width="147" height="31" alt="Reverbnation" class="social rn"></a>
    </p>
  
  </div>
  
  <footer>
    &copy; 2012 Wintersfear Metal Conservatory
  </footer>
</body>
</html>
