
.center { text-align: center; }
.clear { clear: both; }

.header-row { margin-bottom: 10px; }

.download-heading { font-size: 130%; font-weight: bold; margin-bottom: 10px; }

.download-container { margin: 10px 0; }

div.export { line-height: 36px; }
.codes-outer { padding: 10px; }
#codes { margin: 0 0 9px 9px; }
#codes li { background-color: #C5C5C5; cursor: pointer; display: block; float: left; margin: 5px; padding: 2px; }
#codes li.selected { border: 1px solid; border-radius: 5px; margin: 4px; }

#newdl { margin: 15px 10px; }

.dl-delete { cursor: pointer; }
